<div class="panel panel-default box">
	<div class="panel-heading"><h3>{{title}}</h3></div>
	<div class="panel-body" ng-init="getCustomer()">
	  <input id="LabelDevice" class=" form-control" data-ng-model="event.device.label" autocomplete autocompleteconfig="labelDeviceAutoComplete" />
	  <md-autocomplete
		  ng-disabled="isDisabled"
		  md-no-cache="noCache"
		  md-selected-item="selectedItem"
		  md-search-text-change="searchTextChange(searchText)"
		  md-search-text="searchText"
		  md-selected-item-change="selectedItemChange(item)"
		  md-items="item in querySearch(searchText)"
		  md-item-text="item.display"
		  md-min-length="0"
		  placeholder="Choose Customer...">
		<md-item-template>
		  <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.display}}</span>
		</md-item-template>
		<md-not-found>
		  No states matching "{{searchText}}" were found.
		  <a ng-click="newState(searchText)">Create a new one!</a>
		</md-not-found>
	  </md-autocomplete>
	</div>
</div>