<div ng-controller="claimCommissionController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Purchases Commission</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<!-- Add Modal -->
					<form id="formdata" name="formdata" method="post" novalidate ng-submit="save()" ng-init="initData();getEdit();">
						<div class="table-responsive">
							<div class="form-horizontal">
								<div class="col-sm-6" class="form-group">
									<label for="title" class="col-sm-5 control-label">&nbsp;</label>
									<div class="col-sm-7"><input type="hidden" id="title" class="form-control" ng-required="true" ng-Readonly="true"></div>
								</div>
								<div class="col-sm-6"><label class="col-sm-12 control-label">&nbsp;</label></div>
								<div class="col-sm-6 form-group">
									<label for="date" class="col-sm-5 control-label left-important">Date</label>
									<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date_form" class="form-control" placeholder="yyyy-mm-dd" ng-model="fd.date"  ng-required="true"></div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="month" class="col-sm-5 control-label left-important">Purchase month</label>
									<div class="col-sm-4">
										<select id="month"  class="form-control" ng-model="fd.month" ng-options="month.id as month.name for month in monthOption" ng-change="loadDetail()" ng-required="true">
										</select>
									</div>
									<div class="col-sm-3">
										<input type="number" id="year" class="form-control" ng-model="fd.year" ng-keyup="loadDetail()">
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getVendor()">
									<label for="vendor" class="col-sm-5 control-label left-important">From</label>
									<div class="col-sm-7">
										<select id="vendor_id"  class="form-control" ng-model="fd.vendor_id" ng-options="vendor.id as vendor.name for vendor in vendorOption" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getAccount()">
									<label for="account_id" class="col-sm-5 control-label left-important">Account</label>
									<div class="col-sm-7">
										<select id="account_id" class="form-control" ng-model="fd.account_id" ng-options="account.id as account.name for account in accountOption" ng-required="true">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="amount" class="col-sm-5 control-label left-important">Collect Amount</label>
									<div class="col-sm-7">
										<input type="text" id="amount" name="amount" class="form-control currency" ng-model="fd.amount" currency-input minim="0">
										<div class="error-message" ng-messages="formdata.amount.$error">
											<div ng-message="minim">
												Cannot Less than 0.
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="remark" class="col-sm-5 control-label left-important">Remark</label>
									<div class="col-sm-7">
										<textarea type="text" id="remark" name="remark" class="form-control" ng-model="fd.remark"></textarea>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-sm-12" align="right">
							<div class="form-group col-sm-12">
								<button type="submit"
										ng-disabled="formdata.$invalid"
										class="btn btn-success"
										ng-click>
									Save
								</button>
								<button type="button"
										ng-click="cancel()"
										class="btn btn-danger"
										data-dismiss="modal">
									Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="center-important">No</th>
							<th>
								<a href="" ng-click="sort('name')">
								Name
								<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
								<span ng-show="sortType == 'name' && sortReverse" class="fa fa-sort-amount-desc"></span>
							  </a>
							</th>
							<th>
								<a href="" ng-click="sort('commission_amount')">
									Commission
									<span ng-show="sortType == 'commission_amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
									<span ng-show="sortType == 'commission_amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
								  </a>
							</th>
							<th>
								<a href="" ng-click="sort('paid_amount')">
									Paid Amount
									<span ng-show="sortType == 'paid_amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
									<span ng-show="sortType == 'paid_amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
								  </a>
							</th>
							<th>
								<a href="" ng-click="sort('outstanding_amount')">
									Outstanding Amount
									<span ng-show="sortType == 'outstanding_amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
									<span ng-show="sortType == 'outstanding_amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
								  </a>
							</th>
						</tr>
					</thead>
					<tbody ng-init="loadDetail()">
						<tr ng-repeat="purchases in listDetail.data">
							<td align="center">{{ $index+1 }}</td>
							<td>{{ purchases.name }}</td>
							<td align="right">{{ purchases.commission_amount | formatCurrency }}</td>
							<td align="right">{{ purchases.paid_amount | formatCurrency }}</td>
							<td align="right">{{ purchases.outstanding_amount | formatCurrency }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
