<div ng-controller="depositGenting2Controller">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Deposit Genting 2</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>
						
						<div class="row">
							<fieldset class="col-sm-12">
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="date">Date</label>
										<div class="col-sm-8">
											<input type="text" id="date" name="date" class="form-control" ui-date="dateOptions" ng-model="fd.date" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="user_id">Person In Charge</label>
										<div class="col-sm-8">
											<input type="hidden" id="user_id" name="user_id" class="form-control" ng-model="fd.user_id">
											<input type="text" id="user" name="user" class="form-control" ng-model="fd.username" disabled>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="remark">Remark</label>
										<div class="col-sm-8">
											<textarea class="form-control" id="remark" name="remark" ng-model="fd.remark"></textarea>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="nn_chips">NN Chips</label>
										<div class="col-sm-8">
											<input type="text" id="nn_chips" name="nn_chips" class="form-control currency" ng-model="fd.nn_chips" currency-input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="junket_chips">Junket Chips</label>
										<div class="col-sm-8">
											<input type="text" id="junket_chips" name="junket_chips" class="form-control currency" ng-model="fd.junket_chips" currency-input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="cash_chips">Cash Chips</label>
										<div class="col-sm-8">
											<input type="text" id="cash_chips" name="cash_chips" class="form-control currency" ng-model="fd.cash_chips" currency-input>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="cash_real">Cash Real</label>
										<div class="col-sm-8">
											<input type="text" id="cash_real" name="cash_real" class="form-control currency" ng-model="fd.cash_real" currency-input>
										</div>
									</div>
								</div>
							</fieldset>
						</div>

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid || !allowDeposit"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
