<div ng-controller="expensesController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Expenses</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert!=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<form id="formdata" name="formdata" method="post" ng-submit="save(fd.image)" ng-init="initData();getById();">

						<div class="table-responsive">
							<div class="form-horizontal">
								<div class="col-sm-6 form-group">
									<label for="date" class="col-sm-5 control-label left-important">Date</label>
									<div class="col-sm-7"><input type="text" ui-date="dateOptions" id="date_form" class="form-control" ng-model="fd.date"  ng-required="true" ng-readonly="showed()"></div>
								</div>
								<!-- <div class="col-sm-6" class="form-group"> -->
									<!-- <label for="title" class="col-sm-5 control-label">&nbsp;</label> -->
									<!-- <div class="col-sm-7"> -->
										<input type="hidden" ng-model="fd.expense_no" id="title" class="form-control"  ng-Readonly="true">
									<!-- </div> -->
								<!-- </div> -->
								<div class="col-sm-6 form-group" ng-init="getPaymentMethod()" ng-hide="true">
									<label for="bank" class="col-sm-5 control-label left-important">Bank</label>
									<div class="col-sm-7">
										<select id="bank_id"  class="form-control" ng-model="fd.bank_id" ng-options="bank.id as bank.name for bank in bankOption" ng-required="false">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-init="getManager()">
									<label for="bank" class="col-sm-5 control-label left-important">Manager</label>
									<div class="col-sm-7">
										<select id="manager_id"  class="form-control" ng-model="fd.manager_id" ng-options="manager.id as manager.name for manager in managerOption" ng-required="false" ng-disabled="showed()">
										</select>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="date" class="col-sm-5 control-label left-important">Shift</label>
									<div class="col-sm-7 control-label">
										<input type="radio" name="shift" value="morning" ng-model="fd.shift" ng-checked="fd.shift == 'morning'" ng-required="true" ng-readonly="showed()"> Morning
										<input type="radio" name="shift" value="night" ng-model="fd.shift" ng-checked="fd.shift == 'night'" ng-required="true" ng-reaonly="showed()"> Night
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="amount" class="col-sm-5 control-label left-important">Amount</label>
									<div class="col-sm-7">
										<input type="text" id="amount" name="amount" class="form-control currency" ng-model="fd.amount" currency-input minim="0" ng-readonly="showed()">
										<div class="error-message" ng-messages="formdata.amount.$error">
											<div ng-message="minim">
												Cannot Less than 0.
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="annotation" class="col-sm-5 control-label left-important">Description</label>
									<div class="col-sm-7">
										<textarea id="annotation"  class="form-control" ng-model="fd.annotation" ng-required="true" ng-readonly="showed()">
										</textarea>
									</div>
								</div>
								<div class="col-sm-6 form-group">
									<label for="amount" class="col-sm-5 control-label left-important">Person In Charge</label>
									<div class="col-sm-7">
										<input type="text" class="form-control" ng-value="user.name" ng-disabled="true">
									</div>
								</div>
								<div class="col-sm-6 form-group" ng-hide="showed()">
									<label for="image" class="col-sm-5 control-label left-important">Image</label>
									<div class="col-sm-7">
										<input type="file" class="form-control" ng-model="fd.image" ngf-select ngf-accept="'image/*'">
									</div>
								</div>
							</div>
						</div>
						<br/>
						<div class="col-sm-12" align="right">
							<div class="form-group col-sm-12">
								<button type="submit"
										ng-disabled="formdata.$invalid"
										class="btn btn-success"
										ng-click ng-hide="showed()">
									Save
								</button>
								<button type="button"
										ng-click="cancel()"
										class="btn btn-danger"
										data-dismiss="modal">
									Cancel
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
