<div ng-controller="loanController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Loan</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="date">Date</label>
									<div class="col-sm-8">
										<input type="text" id="date" name="date" class="form-control" ui-date="dateOptions" ng-model="fd.date" ng-disabled="showStatus" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="staff_id">Handle By</label>
									<div class="col-sm-8">
										<input type="hidden" id="staff_id" name="staff_id" class="form-control" ng-model="fd.staff_id">
										<input type="text" id="user" name="user" class="form-control" ng-model="fd.users.name" readonly>
									</div>
								</div>
								<div class="form-group" ng-init="getCustomer()">
									<label class="col-sm-4 control-label left-important" for="customer_id">Customer</label>
									<div class="col-sm-8">
										<select id="customer_id" name="customer_id" class="form-control" ng-model="fd.customer_id" ng-options="customer.id as customer.first_name for customer in customerOption" ng-disabled="showStatus"></select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="amount">Amount</label>
									<div class="col-sm-8">
										<input type="text" id="amount" name="amount" class="form-control currency" ng-model="fd.amount" ng-keyup="calInterest()" ng-disabled="showStatus" currency-input minim="0">
										<div class="error-message" ng-messages="formdata.amount.$error">
											<div ng-message="minim">
												Cannot Less than 0.
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="due_date">Due Date</label>
									<div class="col-sm-8">
										<input type="text" id="due_date" name="due_date" class="form-control" ui-date="dateOptions" ng-model="fd.due_date" ng-disabled="showStatus" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="interest_type">Interest Type</label>
									<div class="col-sm-8">
										<select id="interest_type" name="interest_type" class="form-control currency" ng-model="fd.interest_type" ng-change="typeInterest()" ng-disabled="showStatus">
											<option value="0">Flat</option>
											<option value="1">Rate</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="interest_rate">Interest Rate %</label>
									<div class="col-sm-8">
										<input type="text" id="interest_rate" name="interest_rate" class="form-control currency" ng-model="fd.interest_rate" ng-keyup="calInterest()" ng-readonly="fd.interest_type==0" ng-disabled="showStatus" minim="0" maxim="1">
										<div class="error-message" ng-messages="formdata.interest_rate.$error">
											<div ng-message="minim">
												Cannot Less than 0.
											</div>
											<div ng-message="maxim">
												Cannot Big than 1.
											</div>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="interest_amount">Interest Amount</label>
									<div class="col-sm-8">
										<input type="text" id="interest_amount" name="interest_amount" class="form-control currency" ng-model="fd.interest_amount" ng-keyup="calInterest()" ng-readonly="fd.interest_type==1" ng-disabled="showStatus" currency-input>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="amount_due">Amount Due</label>
									<div class="col-sm-8">
										<input type="text" id="amount_due" name="amount_due" class="form-control currency" ng-model="fd.amount_due" disabled currency-input>
									</div>
								</div>
							</div>
						</div>

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
