<div ng-controller="loanController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Loan</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-md-2" align="center">
									<button id="add" type="button" class="btn btn-primary" ng-click="add()">Add Loan</button>
								</div>
								<div class="col-md-4"></div>
								<div class="col-md-6" align="center">
									<div class="col-md-6"></div>
									<form method="post" ng-submit="loadData()">
										<div class="col-sm-4">
											<input type="text" id="search" class="form-control" ui-date="dateOptions" ng-model="date">
										</div>
										<div class="col-sm-2">
											<button id="btnSearch" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>
								</div>
							</div>
						</div>
						<div class="panel-body" ng-init="loadData()">
							<div class="table-responsive">
								<table datatable_="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs" dt-instance="dtInstance" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th class="center-important">No</th>
											<th>
												<a href="" ng-click="sort('date')">
													Date
													<span ng-show="sortType == 'date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'date' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('customer')">
													Customer Name
													<span ng-show="sortType == 'customer' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'custoemer' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('transaction_id')">
													Type
													<span ng-show="sortType == 'transaction_id' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'transaction_id' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('amount')">
													Amount
													<span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('interest_amount')">
													Interest
													<span ng-show="sortType == 'interest_amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'interest_amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('user')">
													Handled By
													<span ng-show="sortType == 'user' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'user' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('payment_amount')">
													Payment Received
													<span ng-show="sortType == 'payment_amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'payment_amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th>
												<a href="" ng-click="sort('due_date')">
													Due Date
													<span ng-show="sortType == 'due_date' && !sortReverse" class="fa fa-sort-amount-asc"></span>
													<span ng-show="sortType == 'due_date' && sortReverse" class="fa fa-sort-amount-desc"></span>
												</a>
											</th>
											<th width="15%">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listData.data">
											<td align="center">{{ $index+1 }}</td>
											<td>{{ data.date|date:'dd-MM-yyyy' }}</td>
											<td>{{ data.customer.last_name }} {{ data.customer.first_name }}</td>
											<td>{{ data.transaction_id?'Rolling	Credit':'Loan' }}</td>
											<td align="right">{{ data.amount | formatCurrency }}</td>
											<td align="right">{{ (data.interest_amount?data.interest_amount:0) | formatCurrency }}</td>
											<td>{{ data.users.name }}</td>
											<td align="right">{{ data.payment_amount | formatCurrency }}</td>
											<td>{{ data.due_date?(data.due_date|date:'dd-MM-yyyy'):'' }}</td>
											<td>
												<button class="btn btn-xs btn-default" type="button" ng-click="show(data.id)">
												<i class="glyphicon glyphicon-file"></i>
												</button>
												<span ng-hide="data.transaction_id">
													<button class="btn btn-xs btn-default" type="button" ng-click="edit(data.id)">
													<i class="glyphicon glyphicon-edit"></i>
													</button>
													<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
													<i class="glyphicon glyphicon-trash"></i>
													</button>
													<!-- Delete Modal -->
													<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
													  <div class="modal-dialog">
														<div class="modal-content">
														  <div class="modal-header">
															<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
															<h4 class="modal-title" id="myModalLabel">Delete loan <strong>{{ data.name }}</strong></h4>
														  </div>
														  <div class="modal-body">
															<div class="alert alert-danger" role="alert">Are you sure you want to delete this loan?</div>
														  </div>
														  <div class="modal-footer">
															<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
															<button type="button" class="btn btn-danger" data-ng-click="delete(data.id)" data-dismiss="modal">Delete</button>
														  </div>
														</div>
													  </div>
													</div>
												</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="col-sm-6">
								<br/>
								Total Page : {{ listData.last_page }} - Total Data : {{ listData.total }}
						  	</div>
						  	<div class="col-sm-6" style="text-align:right;">
								<ul class="pagination">
									<li ng-class="{'disabled' : listData.current_page==1}">
										<a href="" ng-show="{{ listData.current_page!=1 }}" aria-label="Previous" ng-click="paging(listData.current_page-1)">
										<span aria-hidden="true">Previous</span>
										</a>
										<span ng-show="{{ listData.current_page==1 }}" aria-hidden="true">Previous</span>
									</li>
									<li ng-repeat="n in range(1,(listData.last_page))" ng-show="showPage(n)" ng-class="{'active':listData.current_page==n}"><a style="z-index:1" href="" ng-click="paging(n)">{{n}}</a></li>
									<li ng-class="{'disabled' : listData.current_page==listData.last_page || listData.last_page==0}">
										<a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(listData.current_page+1)">
										<span aria-hidden="true">Next</span>
										</a>
										<span ng-show="isLastPage()" aria-hidden="true">Next</span>
									</li>
								</ul>
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
