<div ng-controller="redeemCommissionController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Redeem commision</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="row">
								<div class="col-sm-6 pull-right">
									<div class="col-sm-4"></div>
									<form method="post" ng-submit="loadTable()">
										<div class="col-sm-5">
											<input type="text" class="form-control" ng-model="filter" placeholder="Filter by transaction ID...">
										</div>
										<div class="col-sm-3">
											<button id="btnSearchDate" type="submit" class="btn btn-primary">Search</button>
										</div>
									</form>	
								</div>
							</div>
						</div>
						<div class="panel-body">
							<div class="table-responsive" ng-init="loadTable();getAccount();">
							  <table class="table table-bordered table-striped">
								<thead>
								  <tr>
									<th class="center-important" style="max-width: 80px !important;">No</th>
									<th>
										<a href="" ng-click="sortType = 'transaction_no'; sortReverse = !sortReverse; loadTable()">
											Transaction ID
											<span ng-show="sortType == 'transaction_no' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'transaction_no' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 48px !important;">
										<a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse; loadTable()">
											Employee
											<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'name' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 80px !important;">
										<a href="" ng-click="sortType = 'last_name'; sortReverse = !sortReverse; loadTable()">
											Customer
											<span ng-show="sortType == 'last_name' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'last_name' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 80px !important;">
										<a href="" ng-click="sortType = 'amount'; sortReverse = !sortReverse; loadTable()">
											Amount
											<span ng-show="sortType == 'amount' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'amount' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 80px !important;">
										<a href="" ng-click="sortType = 'redeemed'; sortReverse = !sortReverse; loadTable()">
											Status
											<span ng-show="sortType == 'redeemed' && !sortReverse" class="fa fa-sort-amount-asc"></span>
											<span ng-show="sortType == 'redeemed' && sortReverse" class="fa fa-sort-amount-desc"></span>
										</a>
									</th>
									<th style="max-width: 80px !important;">
										Action
									</th>
								  </tr>
								</thead>

								<tbody>
									<tr ng-repeat="row in dataTable.data">
										<td align="center">{{ $index+1 }}</td>
										<td>{{ row.transaction_no }}</td>
										<td>{{ row.name }}</td>
										<td>{{ row.last_name }} {{ row.first_name }}</td>
										<td>{{ row.amount }}</td>
										<td ng-bind-html="row.redeem_status" class="text-center"></td>
										<td class="input-group-sm" ng-include="getTemplate(row.id)">
										</td>
									</tr>
								</tbody>

								</table>
								<script type="text/ng-template" id="display">
									{{ row.redeem_date?(formatDate(row.redeem_date)):'' }} {{ row.account.name }}
									<button class="btn btn-xs btn-default" ng-click="onredeeming(row.id)" ng-if="row.redeemed==0">
										Redeem
									</button>
								</script>
								<script type="text/ng-template" id="edit">
									<select id="account_id"  class="form-control" ng-model="fd.account_id" ng-options="account.id as account.name for account in accountOption">
									</select>
									<input type="text" ui-date="dateOptions" id="redeem_date" class="form-control" ng-model="fd.redeem_date">
									<button class="btn btn-xs btn-primary" ng-click="redeem()">
										Process
									</button>
								</script>
								<div class="col-sm-6">
									<br/>
									Total Page : {{ dataTable.last_page }} - Total Data : {{ dataTable.total }}
								</div>
								<div class="col-sm-6" style="text-align:right;">
								  <ul class="pagination">
									  <li ng-class="{'disabled' : dataTable.current_page==1}">
										  <a href="" ng-show="{{ dataTable.current_page!=1 }}" aria-label="Previous" ng-click="paging(dataTable.current_page-1)">
											  <span aria-hidden="true">Previous</span>
										  </a>
										  <span ng-show="{{ dataTable.current_page==1 }}" aria-hidden="true">Previous</span>
									  </li>

									  <li ng-repeat="n in range(1,(dataTable.last_page))" ng-show="showPage(n)" ng-class="{'active':dataTable.current_page==n}"><a href="" ng-click="paging(n)">{{n}}</a></li>

									  <li ng-class="{'disabled' : dataTable.current_page==dataTable.last_page || dataTable.last_page==0}">
										  <a href="" ng-show="!isLastPage()" aria-label="Next" ng-click="paging(dataTable.current_page+1)">
											  <span aria-hidden="true">Next</span>
										  </a>
										  <span ng-show="isLastPage()" aria-hidden="true">Next</span>
									  </li>
								  </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="div-dialog-modal" ng-show="loading">
		<div class="loading">
			<img width="50" src="public/img/myloader.gif">
		</div>
	</div>
</div>
