<div ng-controller="TableRollingController">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Table Rolling</h3></div>
		<div class="panel-body">
			<div>
				<table ng-init="getRolling()" class="table table-striped">
					<tr>
						<td width="30%">Date</td>
						<td> : {{ formatDate(master.date) }}</td>
						</tr>
					<tr>
						<td>Person In Charge</td>
						<td> : {{ master.user.name }}</td>
					</tr>
					<tr>
						<td>Client Name</td>
						<td> : {{ master.customer.first_name }}</td>
					</tr>
						<tr>
							<td>Shift</td>
							<td> : {{ master.shift | shiftMorningNight }}</td>
						</tr>
						<tr>
							<td>Remarks</td>
							<td> : {{ master.remarks }}</td>
						</tr>
					</table>
					<br/><br/>

					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="form-horizontal">
								<div ng-show="master.status==1">
									<form name="formdatatr" novalidate method="post">
										<div	class="form-group">
										<div class="col-xs-2">
                                            <label class="">Trading Date</label>
                                            <input type="datetime" class="form-control" ui-date="dateOptions" ng-model="trade_date" id="trade_date"   autofocus>
										</div>
										<div class="col-xs-4">
                                            <label class="">Terminal</label>
                                            <input type="text" class="form-control" ng-model="terminal" id="terminal" autofocus>
										</div>
										<div class="col-xs-2">
                                            <label class="">Cash Chip</label>
											<input type="text" class="form-control currency" ng-model="cash_chip" id="cash_chips" ng-keyup="$event.keyCode == 13 && addTableRolling(row.id)" currency-input minim="0" autofocus>
											<div class="error-message" ng-messages="formdatatr.cash_chips.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</div>
										<div class="col-xs-2">
                                            <label class="">NN Chip</label>
											<input type="text" class="form-control currency" ng-model="nn_chips" id="nn_chip" ng-keyup="$event.keyCode == 13 && addTableRolling(row.id)" currency-input minim="0" autofocus>
											<div class="error-message" ng-messages="formdatatr.nn_chips.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</div>
										</div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-primary" ng-click="addTableRolling()"><i class="fa fa-plus"></i> Add</button>
                                        </div>
									</form>
								</div>
								<br/><br/><br/>
								<table ng-init="getTableRollingDetail()" ng-init="" class="table table-striped">
									<thead>
										<tr>
											<th>No</th>
											<th>Trading Date</th>
                                            <th>Terminal</th>
                                            <th>Cash Chip</th>
                                            <th>NN Chip</th>
                                            <th>Roll Chip Trun Over</th>
                                            <th>Roll Chip Rebate</th>
											<th ng-show="master.status==1">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="row in detail" ng-include="getTemplate(row)">
										</tr>
									</tbody>
								</table>
								<script type="text/ng-template" id="display">
									<td>{{$index+1}}</td>
									<td>{{row.trade_date}}</td>
									<td>{{row.terminal}}</td>
                                    <td>{{row.cash_chip | formatCurrency}}</td>
                                    <td>{{row.nn_chip | formatCurrency}}</td>
                                    <td>{{row.roll_chip_turnover}}</td>
                                    <td>{{row.cash_chip_rebate}}</td>
									<td ng-show="master.status==1">
										<button class="btn btn-xs btn-default" ng-click="editForm(row)">
											<i class="glyphicon glyphicon-edit"></i>
										</button>
										<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
											<i class="glyphicon glyphicon-trash"></i>
										</button>
										<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Delete rolling<strong></strong></h4>
											  </div>
											  <div class="modal-body">
												<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-danger" data-ng-click="deleteRolling(row.id)" data-dismiss="modal">Delete</button>
											  </div>
											</div>
										  </div>
										</div>
									</td>
								</script>
								<script type="text/ng-template" id="edit">
									<td>{{$index+1}}</td>
									<td>
										<form name="formdataro" novalidate method="post">
											<input type="text" id="selected_trade_date" name="selected_trade_date" class="form-control input-sm" ng-model="selected.trade_date" style="text-align:right;"  ui-date="dateOptions" autofocus>
											<div class="error-message" ng-messages="formdataro.selected_trade_date.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
									</td>
									<td>
											<input type="text" id="selected_terminal" name="selected_terminal" class="form-control input-sm" ng-model="selected.terminal" style="text-align:right;"  autofocus>
											<div class="error-message" ng-messages="formdataro.selected_terminal.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
									</td>
									<td>
											<input type="text" id="selected_cash_chip" name="selected_cash_chip" class="form-control input-sm" ng-model="selected.cash_chip" style="text-align:right;" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input minim="0" autofocus>
											<div class="error-message" ng-messages="formdataro.selected_cash_chip.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
									</td>
									<td>
											<input type="text" id="selected_nn_chip" name="selected_nn_chip" class="form-control input-sm" ng-model="selected.nn_chip" style="text-align:right;" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input minim="0" autofocus>
											<div class="error-message" ng-messages="formdataro.selected_nn_chip.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</form>
									</td>
									<td><input type="text" id="selected_roll_chip_turnover" class="form-control input-sm" ng-model="selected.roll_chip_turnover" style="text-align:right;" currency-input readonly></td>
									<td><input type="text" id="selected_cash_chip_rebate" class="form-control input-sm" ng-model="selected.cash_chip_rebate" style="text-align:right;" currency-input readonly></td>
									<td>
										<button class="btn btn-xs btn-default" ng-click="editRolling(row.id)">
											<i class="glyphicon glyphicon-floppy-disk"></i>
										</button>
										<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
											<i class="glyphicon glyphicon-trash"></i>
										</button>
										<!-- &lt;!&ndash; Delete Modal &ndash;&gt; -->
										<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Delete rolling<strong></strong></h4>
											  </div>
											  <div class="modal-body">
												<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-danger" data-ng-click="deleteRolling(row.id)" data-dismiss="modal">Delete</button>
											  </div>
											</div>
										  </div>
										</div>
									</td>
								</script>
							</div>
						</div>
					</div>
				</div>
				<div align="right"><a class="btn btn-danger" href="#/app/transactions">Back</a></div>
			</div>
		</div>
	</div>
</div>