<div ng-controller="rollingController">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Rolling {{type==1?'2':''}}</h3></div>
		<div class="panel-body" ng-init="getRolling()">
			<div class="table-responsive" ng-init="getOpenStatus()">
				<div class="modal fade" tabindex="-1" role="dialog" modal="confirmModal">
				  <div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Start Rolling<strong></strong></h4>
					  </div>
					  <div class="modal-body">
						<div class="alert alert-info" role="alert">Are you sure you want to start this rolling?</div>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="confirmModal=false">Close</button>
						<button type="button" class="btn btn-primary" data-ng-click="openRolling()" data-dismiss="modal">Start</button>
					  </div>
					</div>
				  </div>
				</div>
				<div ng-show="openStatus()">
					<table class="table table-striped">
						<tr>
							<td width="30%">Date</td>
							<td> : {{ formatDate(master.date) }}</td>
						</tr>
						<tr>
							<td>Person In Charge</td>
							<td> : {{ master.user.name }}</td>
						</tr>
						<tr>
							<td>Client Name</td>
							<td> : {{ master.customer.first_name }}</td>
						</tr>
						<tr>
							<td>Shift</td>
							<td> : {{ master.shift | shiftMorningNight }}</td>
						</tr>
						<tr>
							<td>Remarks</td>
							<td> : {{ master.remarks }}</td>
						</tr>
					</table>
					<br/><br/>
					<div class="panel panel-primary">
						<div class="panel-body">
							<div class="form-horizontal">
								<div ng-show="master.status==1">
									<form name="formdatar" novalidate method="post">
										<label class="control-label col-sm-2">Rolling</label>
										<div class="col-sm-3">
											<input type="text" class="form-control currency" ng-model="rolling" id="rolling" ng-keyup="$event.keyCode == 13 && addRolling(row.id)" currency-input minim="0" autofocus>
											<div class="error-message" ng-messages="formdatar.rolling.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</div>
										<div class="col-sm-3">
											<button type="button" class="btn btn-primary" ng-click="addRolling()"><i class="fa fa-plus"></i> Add</button>
										</div>
									</form>
								</div>
								<br/><br/><br/>
								<table class="table table-striped">
									<thead>
										<tr>
											<th>No</th>
											<th>Rolling</th>
											<th>Total</th>
											<th ng-show="master.status==1">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-if="totalOpen>0">
											<td>1</td>
											<td>{{totalOpen | formatCurrency}}</td>
											<td>{{totalOpen | formatCurrency}}</td>
											<td>
												<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#updateModal{{totalOpenid}}" data-ng-click="Clear()">
												<i class="glyphicon glyphicon-trash"></i>
											</button>
											</td>
										</tr>
										<tr ng-repeat="row in detail" ng-include="getTemplate(row)">
											
										</tr>
									</tbody>
								</table>
								<script type="text/ng-template" id="display">
									<td>{{totalOpen>0?($index+2):($index+1)}}</td>
									<td>{{row.rolling | formatCurrency}}</td>
									<td>{{row.total | formatCurrency}}</td>
									<td ng-show="master.status==1">
										<button class="btn btn-xs btn-default" ng-click="editForm(row)">
											<i class="glyphicon glyphicon-edit"></i>
										</button>
										<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
											<i class="glyphicon glyphicon-trash"></i>
										</button>
										<!-- Delete Modal -->
										<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Delete rolling<strong></strong></h4>
											  </div>
											  <div class="modal-body">
												<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-danger" data-ng-click="deleteRolling(row.id)" data-dismiss="modal">Delete</button>
											  </div>
											</div>
										  </div>
										</div>
									</td>
								</script>
								<!-- Update Open Treap Modal -->
								<div class="modal fade" id="updateModal{{totalOpenid}}" tabindex="-1" role="dialog">
								  <div class="modal-dialog">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Delete rolling<strong></strong></h4>
									  </div>
									  <div class="modal-body">
										<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-danger" data-ng-click="updateRolling(totalOpenid)" data-dismiss="modal">Delete</button>
									  </div>
									</div>
								  </div>
								</div>
								<script type="text/ng-template" id="edit">
									<td>{{type==1?($index+2):($index+1)}}</td>
									<td>
										<form name="formdataro" novalidate method="post">
											<input type="text" id="selected_rolling" name="selected_rolling" class="form-control input-sm" ng-model="selected.rolling" style="text-align:right;" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input minim="0" autofocus>
											<div class="error-message" ng-messages="formdataro.selected_rolling.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</form>
									</td>
									<td><input type="text" id="selected_total" class="form-control input-sm" ng-model="selected.total" style="text-align:right;" currency-input readonly></td>
									<td>
										<button class="btn btn-xs btn-default" ng-click="editRolling(row.id)">
											<i class="glyphicon glyphicon-floppy-disk"></i>
										</button>
										<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
											<i class="glyphicon glyphicon-trash"></i>
										</button>
										<!-- Delete Modal -->
										<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
										  <div class="modal-dialog">
											<div class="modal-content">
											  <div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">Delete rolling<strong></strong></h4>
											  </div>
											  <div class="modal-body">
												<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
											  </div>
											  <div class="modal-footer">
												<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
												<button type="button" class="btn btn-danger" data-ng-click="deleteRolling(row.id)" data-dismiss="modal">Delete</button>
											  </div>
											</div>
										  </div>
										</div>
									</td>
								</script>
							</div>
						</div>
					</div>
				</div>
				<div align="right"><a class="btn btn-danger" href="#/app/transactions">Back</a></div>
			</div>
		</div>
	</div>
</div>