<style>
.padding-boot{
	padding-left:15px;
}
</style>
<div ng-controller="rolling2Controller">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Rolling 3</h3></div>
		<div class="panel-body">
			<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{alert}}
			</div>
			<div class="alert alert-success" role="alert" ng-show="success!=''">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
					<span aria-hidden="true">&times;</span>
				</button>
				{{success}}
			</div>
			<div class="table-responsive" ng-init="getRolling();getRollingDetail()">
				<div class="col-sm-6">
					<label for="date" class="col-sm-4 control-label left-important">Date</label>
					<div class="col-sm-8">
						<input type="text" ui-date="dateOptions" id="date" class="form-control" ng-value="master.date" disabled>
					</div><br/><br>
					<label for="user_id" class="col-sm-4 control-label left-important">Person In Charge</label>
<!--					<div class="col-sm-8" ng-init="getRunner()"> -->
					<div class="col-sm-8">
					    <input type="text" class="form-control" ng-value="master.user.name" ng-disabled="true">
						</div>
						<br/><br>
					<label for="customer_id" class="col-sm-4 control-label left-important">Customer Name</label>
					<div class="col-sm-8">
					    <input type="text" class="form-control" ng-value="master.customer.first_name" ng-disabled="true">
					</div><br/><br>
					<label for="shift" class="col-sm-4 control-label left-important">Individual or Group / Agent</label>
					<div class="col-sm-8 control-label" style="text-align:left">
				    <input type="text" class="form-control" ng-model="status_customer" ng-value="master.customer.group_flag" ng-disabled="true">
					</div><br/><br/>
				</div>
				<div class="col-sm-6">
					<label for="shift" class="col-sm-4 control-label left-important">Agent Name</label>
					<div class="col-sm-8 control-label" style="text-align:left">
				    <input type="text" class="form-control" id="nama_agent" name="nama_agent" ng-model="nama_agent" ng-value="master.customer.agent.name" ng-disabled="true">
					</div><br><br>

					<label for="shift" class="col-sm-4 control-label left-important">Room</label>
					<div class="col-sm-8 control-label" style="text-align:left">
						<select ng-model="room" id="room" class="form-control input-sm" >
							<option value="Room 38">Room 38</option>
							<option value="Maxims">Maxims</option>
							<option value="Other Room">Other Room</option>
						</select>
					</div>
					<label for="sceario" class="col-sm-4 control-label left-important">Scenario</label>
					<div class="col-sm-8 control-label" style="text-align:left">
						<input type="radio" ng-model="status" id="status" name="status" value="Win or Lose" ng-disabled="true">Win or Lose
						<input type="radio" ng-model="status" id="status" name="status" value="Win Only" ng-disabled="true">Win Only
					</div>

				</div>
			</div>
				<!-- 
			<table ng-init="getRolling()" class="table table-striped">
				<tr>
					<td width="30%">Date</td>
					<td><span class="padding-boot"> : {{ formatDate(master.date) }}</span></td>
				</tr>
				<tr>
					<td>Person In Charge</td>
					<td><span class="padding-boot"> : {{ master.user.name }}</span></td>
				</tr>
				<tr>
					<td>Client Name</td>
					<td><span class="padding-boot"> : {{ master.customer.first_name }}</span></td>
				</tr>
				<tr>
					<td>Individual/ Group/ Junket</td>
					<td><span class="padding-boot"> : {{ master.customer.group_flag }}</span></td>
				</tr>
				<tr>
					<td>Agent</td>
					<td><span class="padding-boot"> : {{ master.customer.agent.name }}</span></td>
				</tr>
				<tr>
					<td>Win Only</td>
					<td>
						<span class="padding-boot">: 
							<span ng-show="!editing">{{ master.win_only==1?'Yes':'No' }}</span>
							<input type="checkbox" id="win_only" ng-model="master.win_only" ng-true-value="1" ng-false-value="0" ng-show="editing" ng-disabled="master.customer.group_flag=='individual'">
							&nbsp;
							<span ng-show="master.customer.group_flag!='individual'">
								<button class="btn btn-xs btn-default" ng-click="edit()" ng-show="!editing">
									<i class="glyphicon glyphicon-edit"></i>
								</button>
								<button class="btn btn-xs btn-default" ng-click="update()" ng-show="editing">
									<i class="glyphicon glyphicon-floppy-disk"></i>
								</button>
								<button class="btn btn-xs btn-danger" ng-click="cancelEdit()" ng-show="editing">
									<i class="glyphicon glyphicon-remove"></i>
								</button>
							</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Room</td>
					<td>
						<span ng-show="!editing" class="padding-boot">: {{ master.room }}</span>
						<span class="col-sm-3 form-inline" ng-show="editing">
							:
							<select ng-model="master.room" class="form-control input-sm" ng-disabled="master.customer.group_flag=='individual'">
								<option value="Room 38">Room 38</option>
								<option value="Maxims">Maxims</option>
								<option value="Other Room">Other Room</option>
							</select>
						</span>
					</td>
				</tr>
				<tr>
					<td>Type Chip</td>
					<td>
						<span ng-show="!editing" class="padding-boot">: {{ master.type_chip }}</span>
						<span class="col-sm-3 form-inline" ng-show="editing">
							:
							<select ng-model="master.type_chip" class="form-control input-sm" ng-disabled="master.customer.group_flag=='individual'">
								<option value="Junket NN Chips">Junket NN Chips</option>
								<option value="NN Chips">NN Chips</option>
								<option value="Cash Chips">Cash Chips</option>
							</select>
						</span>
					</td>
				</tr>
			</table> -->
			<br/><br/>
			<div class="panel panel-primary">
				<div class="panel-body">
					<div class="form-horizontal">
						<div ng-show="true">
							<label class="control-label col-sm-1">Bet</label>
							<div class="col-sm-2">
								<input type="text" class="form-control currency" ng-model="rolling" id="rolling" ng-keyup="$event.keyCode == 13 && addRolling(row.id)" currency-input autofocus>
							</div>
							<label class="control-label col-sm-1">Odds</label>
							<div class="col-sm-2">
								<input type="text" class="form-control currency" ng-model="odds" id="odds" ng-keyup="$event.keyCode == 13 && addRolling(row.id)" currency-input autofocus>
							</div>
							<label class="control-label col-sm-1">Insurance</label>
							<div class="col-sm-2">
								<input type="text" class="form-control currency" ng-model="insurance" id="insurance"  ng-keyup="setinsurance($event) || ($event.keyCode == 13 && addRolling(row.id))" currency-input autofocus>
							</div>
							
							<span ng-hide="true">
								<label class="control-label col-sm-1">Amount</label>
								<div class="col-sm-2">
									<input type="text" class="form-control currency" ng-model="amount" id="amount" ng-keyup="$event.keyCode == 13 && addRolling(row.id)" currency-input autofocus>
								</div>
								<label class="control-label col-sm-1">Points</label>
								<div class="col-sm-2">
									<input type="text" class="form-control currency" ng-model="points" id="points" ng-keyup="$event.keyCode == 13 && addRolling(row.id)" currency-input autofocus>
								</div>
							</span>
							<div class="col-sm-2">
								<button type="button" class="btn btn-primary" ng-click="addRolling()"><i class="fa fa-plus"></i> Add</button>
							</div>
						</div>
						<br/><br/><br/>
						<table class="table table-striped">
							<thead>
								<tr>
									<th>No</th>
									<th>Bet</th>
									<th>Odds</th>
									<th>Insurance</th>
									<th>Scenario</th>
									<th>Room</th>
									<!-- <th>Amount</th>
									<th>Total</th>
									<th>Points</th> -->
									<th ng-show="true">Action</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="row in detail" ng-include="getTemplate(row)">
									
								</tr>
							</tbody>
						</table>
						<script type="text/ng-template" id="display">
							<td>{{$index+1}}</td>
							<td>{{row.rolling | formatCurrency}}</td>
							<td>{{row.odds | formatCurrency}}</td>
							<td>{{row.insurance | formatCurrency}}</td>
							<td>{{row.status}}</td>
							<td>{{row.room}}</td>
							<!--td>{{row.amount | formatCurrency}}</td>
							<td>{{row.total | formatCurrency}}</td>
							<td>{{row.points | formatCurrency}}</td-->
							<td ng-show="true">
								<button class="btn btn-xs btn-warning" type="button" data-toggle="modal" data-target="#viewModal{{$index}}" data-ng-click="viewForm(row)">
									<i class="glyphicon glyphicon-file"></i>
								</button>
								<button class="btn btn-xs btn-default" ng-click="editForm(row)">
									<i class="glyphicon glyphicon-edit"></i>
								</button>
								<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
								<!-- Delete Modal -->
								<div class="modal fade" id="deleteModal{{$index}}" tabindex="-1" role="dialog">
								  <div class="modal-dialog">
									<div class="modal-content">
									  <div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="myModalLabel">Delete rolling<strong></strong></h4>
									  </div>
									  <div class="modal-body">
										<div class="alert alert-danger" role="alert">Are you sure you want to delete this rolling?</div>
									  </div>
									  <div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										<button type="button" class="btn btn-danger" data-ng-click="deleteRolling(row.id)" data-dismiss="modal">Delete</button>
									  </div>
									</div>
								  </div>
								</div>
								<!-- View Modal -->
								<div class="modal fade" id="viewModal{{$index}}" tabindex="-1" role="dialog">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="myModalLabel">View Rolling<strong></strong></h4>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group">
															<label for="date" class="col-sm-4 control-label left-important">Bet</label>
															<div class="col-sm-8">
																<input type="text" ng-model="viewselected.rolling" id="rolling" class="form-control" disabled>
															</div>
														</div>
														<div class="form-group">
															<label for="date" class="col-sm-4 control-label left-important">Room</label>
															<div class="col-sm-8">
																<input type="text" ng-model="viewselected.room" id="room" class="form-control" disabled>
															</div>
														</div>
														<div class="form-group" ng-if="">
															<label for="date" class="col-sm-4 control-label left-important">Status</label>
															<div class="col-sm-8">
																<input type="radio" ng-model="viewselected.scenario" value="1" id="scenario" disabled> Win &nbsp;
																<input type="radio" ng-model="viewselected.scenario" value="0" id="scenario" disabled> Lose
															</div>
														</div>
													</div>
													<div class="col-sm-6">
														<div class="form-group">
															<label for="date" class="col-sm-4 control-label left-important">Odds</label>
															<div class="col-sm-8">
																<input type="text" ng-model="viewselected.odds" id="date" class="form-control" disabled>
															</div>
														</div>
														<div class="form-group">
															<label for="date" class="col-sm-4 control-label left-important">Insurance</label>
															<div class="col-sm-8">
																<input type="text" ng-model="viewselected.insurance" id="date" class="form-control" disabled>
															</div>
														</div>
														<div class="form-group">
															<label for="date" class="col-sm-4 control-label left-important">Scenario</label>
															<div class="col-sm-8">
																<input type="text" ng-model="viewselected.status" id="status" class="form-control" disabled>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-sm-6">
														<div class="form-group" ng-show="shownego">
															<label for="date" class="col-sm-4 control-label left-important">Agent Share</label>
															<div class="col-sm-5">
																<input type="text" ng-model="viewselected.agent_shared" id="valuenego" class="form-control" ng-keyup="negoagent(persent)">
															</div>
															<div class="col-sm-3">%</div>
														</div>

														<div class="form-group" ng-show="showgl">
															<label for="date" class="col-sm-4 control-label left-important">GL</label>
															<div class="col-sm-8">
																<input type="text" ng-model="valuegl" id="date" class="form-control" disabled>
															</div>
														</div>
														<div class="form-group" ng-show="showagent">
															<label for="date" class="col-sm-4 control-label left-important">Agent</label>
															<div class="col-sm-8">
																<input type="text" ng-model="valueag" id="date" class="form-control" disabled>
															</div>
														</div>
														<div class="form-group" ng-show="showpp">
															<label for="date" class="col-sm-4 control-label left-important">{{viewselected.room=='Other Room'?'Other':'PP'}}</label>
															<div class="col-sm-8">
																<input type="text" ng-model="valuepp" id="date" class="form-control" disabled>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-primary" ng-click="updaterolling(viewselected.id)" data-dismiss="modal">Save</button>
												<button type="button" class="btn btn-default" id="btn_close" data-dismiss="modal">Close</button>
												<!--<button type="button" class="btn btn-danger" data-ng-click="deleteRolling(row.id)" data-dismiss="modal">Delete</button>-->
											</div>
										</div>
									</div>
								</div>
							</td>
						</script>
						<script type="text/ng-template" id="edit">
							<td>{{$index+1}}</td>
							<td><input type="text" id="selected_rolling" class="form-control input-sm currency" ng-model="selected.rolling" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input></td>
							<td><input type="text" id="selected_odds" class="form-control input-sm currency" ng-model="selected.odds" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input></td>
							<td><input type="text" id="selected_insurance" class="form-control input-sm currency" ng-model="selected.insurance" ng-keyup="setinsuranceedit($event)" currency-input></td>
							<td>
								{{selected.status}}
							</td>
							<td>
								<select ng-model="selected.room" id="selected.room" class="form-control input-sm" ng-disabled="true" >
									<option value="Room 38">Room 38</option>
									<option value="Maxims">Maxims</option>
									<option value="Other Room">Other Room</option>
								</select>
							</td>
							<!--td><input type="text" id="selected_amount" class="form-control input-sm currency" ng-model="selected.amount" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input autofocus></td>
							<td><input type="text" id="selected_total" class="form-control input-sm currency" ng-model="selected.total" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input readonly></td>
							<td><input type="text" id="selected_odds" class="form-control input-sm currency" ng-model="selected.odds" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input></td>
							<td><input type="text" id="selected_points" class="form-control input-sm currency" ng-model="selected.points" ng-keyup="$event.keyCode == 13 && editRolling(row.id)" currency-input></td-->
							<td>
								<button class="btn btn-xs btn-default" ng-click="editRolling(row.id)">
									<i class="glyphicon glyphicon-floppy-disk"></i>
								</button>
								<button class="btn btn-xs btn-danger" type="button" data-toggle="modal" data-target="#deleteModal{{$index}}" data-ng-click="Clear()">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</td>
						</script>
					</div>
				</div>
			</div>
			<div align="right"><a class="btn btn-danger" href="#/app/transactions">Back</a></div>
		</div>
	</div>
</div>