<div ng-controller="WithdrawalGenting2Controller">

    <div class="panel panel-default box">
        <div class="panel-heading"><h3>Withdrawal Genting 2</h3></div>
        <div class="panel-body">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{alert}}
                    </div>
                    <div class="alert alert-success" role="alert" ng-show="success!=''">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="success=''">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        {{success}}
                    </div>
                    <!-- Add Modal -->
                    <form id="formdata" name="formdata" method="post" novalidate ng-submit="addwg()" ng-init="initData();getEdit();">
						<div class="form-horizontal">
							<div class="col-sm-6" class="form-group">
								<label for="title" class="col-sm-3 control-label">&nbsp;</label>
								<div class="col-sm-6"><input type="hidden" id="title" class="form-control" ng-required="true" ng-Readonly="true"></div>
							</div>
							<div class="col-sm-6"><label class="col-sm-12 control-label">&nbsp;</label></div>
							<div class="form-group">
								<label for="date" class="col-sm-3 control-label left-important">Date</label>
								<div class="col-sm-3"><input type="text" ui-date="dateOptions" id="date" class="form-control" placeholder="yyyy-mm-dd" ng-model="fd.date"  ng-required="true"></div>
								<div class="col-sm-3"></div>
							</div>
							<!-- <div class="form-group" ng-init="getEntity()">
								<label for="date" class="col-sm-3 control-label left-important">Type</label>
								<div class="col-sm-3">
									<input type="radio" name="type" ng-model="fd.agent_boss" value="boss" ng-change="setEntity()" ng-checked="fd.agent_boss == 'boss'" ng-required="true"> Boss &nbsp;&nbsp;
									<input type="radio" name="type" ng-model="fd.agent_boss" value="agent" ng-change="setEntity()" ng-checked="fd.agent_boss == 'agent'" ng-required="true"> Agent
								</div>
								<div class="col-sm-3"></div>
							</div> -->
							<div class="form-group">
								<label for="boss" class="col-sm-3 control-label left-important">Name</label>
								<div class="col-sm-3">
									<select id="employee_id" ng-change="selectboss()" class="form-control" ng-model="fd.member_id" ng-options="entity.id as entity.name for entity in entityOption" ng-required="true">
									</select>
								</div>
								<div class="col-sm-3"></div>
							</div>
							<!-- <div class="form-group">
								<label for="amount" class="col-sm-3 control-label left-important">Type Amount</label>
								<div class="col-sm-3">
									<select  class="form-control" name="type_chip" ng-model="fd.type_chip" ng-required="true">
										<option value="NN Chips">NN Chips</option>
										<option value="Junket NN Chips">Junket NN Chips</option>
										<option value="Cash Chips">Cash Chips</option>
										<option value="Cash Real">Cash Real</option>
									</select>
								</div>
								<div class="col-sm-3"></div>
							</div> -->
								<input type="hidden" name="type_chip" ng-model="fd.type_chip" value="Cash Real">
							<div class="form-group">
								<label for="amount" class="col-sm-3 control-label left-important">Amount</label>
								<div class="col-sm-3">
									<input type="text" id="amount" class="form-control currency" ng-model="fd.amount" ng-required="true" currency-input>
								</div>
								<div class="col-sm-3"></div>
							</div>
						</div>

                        <div class="col-sm-12" align="right">
                            <div class="form-group col-sm-12">
                                <button type="submit"
                                        ng-disabled="formdata.$invalid"
                                        class="btn btn-success"
                                        ng-click>
                                    Save
                                </button>
                                <button type="button"
                                        ng-click="cancel()"
                                        class="btn btn-danger"
                                        data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
