<div ng-controller="agentController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Agent</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>

						<p>(*) is required</p>
						<div class="row">
							<fieldset class="col-sm-12">
								<legend>Agent Details</legend>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="id_no">ID No *</label>
										<div class="col-sm-8">
											<input type="text" id="id_no" name="id_no" class="form-control" ng-model="fd.id_no" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="name">Name *</label>
										<div class="col-sm-8">
											<input type="text" id="name" name="name" class="form-control" ng-model="fd.name" required>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="email">Email</label>
										<div class="col-sm-8">
											<input type="email" id="email" name="email" class="form-control" ng-model="fd.email">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="phone_code">Country *</label>
										<div class="col-sm-8" ng-init="getPhoneCode()">
											<select name="phone_code_id" id="phone_code_id" ng-model="fd.phone_code" class="form-control" ng-options="phoneCode.code as phoneCode.name for phoneCode in phoneCodeOption">
											</select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="contact">Contact *</label>
										<div class="col-sm-3">
											<input type="text" id="phone_code" name="phone_code" class="form-control" ng-model="fd.phone_code" readonly required>
										</div>
										<div class="col-sm-5">
											<input type="text" id="contact" name="contact" class="form-control" ng-model="fd.contact" required>
										</div>
									</div>
									<!--<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="agent_company_id">Agent Company</label>
										<div class="col-sm-8" ng-init="getAgentCompany()">
											<select name="agent_company_id" id="agent_company_id" ng-model="fd.agent_company_id" class="form-control" ng-options="agentCompany.id as agentCompany.company_name for agentCompany in agentCompanyOption">
											</select>
										</div>
									</div>-->
								</div>
							</fieldset>
						</div>
						
						<!--div class="row">
							<fieldset class="col-sm-12">
								<legend>Company Details</legend>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_name">Company Name</label>
										<div class="col-sm-8">
											<input type="text" id="company_name" name="company_name" class="form-control" ng-model="fd.company_name" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="pic">PIC Name</label>
										<div class="col-sm-8">
											<input type="text" id="pic" name="pic" class="form-control" ng-model="fd.pic" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="address">Address</label>
										<div class="col-sm-8">
											<textarea id="address" name="address" class="form-control" ng-model="fd.address" disabled></textarea>
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_postal_code">Postal Code</label>
										<div class="col-sm-8">
											<input type="text" id="company_postal_code" name="company_postal_code" class="form-control" ng-model="fd.company_postal_code" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_contact">Contact</label>
										<div class="col-sm-8">
											<input type="text" id="company_contact" name="company_contact" class="form-control" ng-model="fd.company_contact" readonly>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="company_email">Email</label>
										<div class="col-sm-8">
											<input type="email" id="company_email" name="company_email" class="form-control" ng-model="fd.company_email" readonly>
										</div>
									</div>
								</div>
							</fieldset>
						</div-->

						<!--div class="row" style="display:none;">
							<fieldset class="col-sm-12">
								<legend>Balance</legend>
								<div class="col-sm-6">
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="nn_chips">NN Chips</label>
										<div class="col-sm-8">
											<input type="text" id="nn_chips" name="nn_chips" class="form-control currency" ng-model="fd.nn_chips" currency-input minim="0">
											<div class="error-message" ng-messages="formdata.nn_chips.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="cash_chips">Cash Chips</label>
										<div class="col-sm-8">
											<input type="text" id="cash_chips" name="cash_chips" class="form-control currency" ng-model="fd.cash_chips" currency-input minim="0">
											<div class="error-message" ng-messages="formdata.cash_chips.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-4 control-label left-important" for="cash_real">Cash Real</label>
										<div class="col-sm-8">
											<input type="text" id="cash_real" name="cash_real" class="form-control currency" ng-model="fd.cash_real" currency-input minim="0">
											<div class="error-message" ng-messages="formdata.cash_real.$error">
												<div ng-message="minim">
													Cannot Less than 0.
												</div>
											</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div-->

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
