<div ng-controller="customerController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Customers</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>

						<p>(*) is required</p>
						<div class="col-lg-6">
							<div class="form-group" ng-init="getCustTypes()">
								<label for="custType" class="col-lg-3 control-label left-important">Cust. Type*</label>
								<div class="col-lg-9">
									<select id="custType"  class="form-control" ng-model="fd.customer_type_id" ng-options="custTypes.id as custTypes.name for custTypes in custTypesOption" ng-required="true" ng-disabled="showStatus">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="title" class="col-lg-3 control-label left-important">Title*</label>
								<div class="col-lg-9">
									<select id="title"
											class="form-control"
											ng-model="fd.title"
											ng-required="true"
											ng-disabled="showStatus">
											<option value="Mr">Mr</option>
											<option value="Mrs">Mrs</option>
											<option value="Ms">Ms</option>
											<option value="Tun">Tun</option>
											<option value="Tan Sri">Tan Sri</option>
											<option value="Datuk">Datuk</option>
											<option value="Dato' Sri">Dato' Sri</option>
											<option value="Dato">Dato</option>
											<option value="Pehin">Pehin</option>
											<option value="JP">JP</option>
											<option value="Dato Paduka">Dato Paduka</option>
											<option value="Dr">Dr</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="LastName" class="col-lg-3 control-label left-important">Last Name</label>
								<div class="col-lg-9">
									<input type="text"
											id="last_name"
										   class="ime form-control"
										   ng-model="fd.last_name"
										   ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group">
								<label for="FirstName" class="col-lg-3 control-label left-important">First Name*</label>
								<div class="col-lg-9">
									<input type="text"
											id="first_name"
										   class="ime form-control"
										   ng-model="fd.first_name"
										   ng-required="true"
										   ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group" >
								<label for="dob" class="col-lg-3 control-label left-important">Date of Birth*</label>
								<div class="col-lg-3">
									<input type="number" id="date" name="date" ng-model="fd.date" class="form-control col-md-1" ng-bind="calculateAge()" ng-disabled="showStatus" min="1" minim="1" max="31" maxim="31" required>
								</div>
								<div class="col-lg-3">
									<select name="" id="" ng-model="fd.month" class="form-control col-md-1" ng-change="calculateAge()" ng-disabled="showStatus" required>
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">April</option>
										<option value="05">May</option>
										<option value="06">June</option>
										<option value="07">July</option>
										<option value="08">August</option>
										<option value="09">September</option>
										<option value="10">October</option>
										<option value="11">November</option>
										<option value="12">December</option>
									</select>
								</div>
								<div class="col-lg-3">
									<input type="number" ng-model="fd.year" class="form-control col-md-1" min="1" max="{{ maxYear }}" minim="1" ng-bind="calculateAge()" ng-disabled="showStatus" required>
								</div>
								<!--<input type="text"
									ui-date="dateOptions"
									id="dob"
									class="form-control"
									placeholder="yyyy-mm-dd"
									ng-model="fd.dob"
									ng-change="calculateAge()">-->
								<div class="col-sm-3"></div>
								<div ng-messages="formdata.date.$error" class="col-sm-9 error-message">
									<div ng-message="minim">
										Min Date value: 1
									</div>
									<div ng-message="maxim">
										Max Date value: 31
									</div>
								</div>
								<div ng-messages="formdata.year.$error" class="col-sm-9 error-message">
									<div ng-message="minim">
										Min Date value: 1
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="gender" class="col-lg-3 control-label left-important">Gender*</label>
								<div class="col-lg-9">
									<select id="gender"
										class="form-control"
										ng-model="fd.gender"
										ng-disabled="showStatus">
										<option value="M">Male</option>
										<option value="F">Female</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="age" class="col-lg-3 control-label left-important">Age</label>
								<div class="col-lg-9">
									<input 	type="number"
											id="age"
											min="1"
											class="form-control"
											ng-model="fd.age"
											ng-readonly="true"
											ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group">
								<label for="address" class="col-lg-3 control-label left-important">Address</label>
								<div class="col-lg-9">
									<textarea 	id="address"
										class="form-control"
										ng-model="fd.address"
										ng-disabled="showStatus">
									</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="postal_code" class="col-lg-3 control-label left-important">Postal Code</label>
								<div class="col-lg-9">
									<input 	type="text"
											id="postal_code"
											min="1"
											class="form-control"
											ng-model="fd.postal_code"
											ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group">
								<label for="address" class="col-lg-3 control-label left-important">Additional Address</label>
								<div class="col-lg-9">
									<textarea 	id="address2"
												 class="form-control"
												 ng-model="fd.address2"
												 ng-disabled="showStatus">
									</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="postal_code" class="col-lg-3 control-label left-important">Additional Postal Code</label>
								<div class="col-lg-9">
									<input 	type="text"
											  id="postal_code2"
											  min="1"
											  class="form-control"
											  ng-model="fd.postal_code2"
											  ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group">
								<label for="email" class="col-lg-3 control-label left-important">E-mail</label>
								<div class="col-lg-9">
									<input type="email"
									id="email"
									class="form-control"
									ng-model="fd.email"
									ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group" ng-init="getPhoneCode()">
								<label for="contact" class="col-lg-3 control-label left-important">Country</label>
								<div class="col-lg-9 ">
									<select name="phone_code" id="phone_code" ng-model="fd.phone_code" class="form-control" ng-disabled="showStatus" ng-options="phoneCode.code as phoneCode.name for phoneCode in phoneCodeOption">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="contact" class="col-lg-3 control-label left-important">Contact</label>
								<div class="col-lg-3 ">
									<input type="text"
											id="phone_code"
											class="form-control"
											ng-model="fd.phone_code"
											ng-disabled="true">
								</div>
								<div class="col-lg-6 ">
									<input type="text"
											id="contact"
											class="form-control"
											ng-model="fd.contact"
											ng-disabled="showStatus"
											>
								</div>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="CompanyName" class="col-lg-4 control-label left-important">Company Name</label>
								<div class="col-lg-8 ">
									<input type="text"
											id="company_name"
										   class="form-control"
										   ng-model="fd.company_name"
										   ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group">
								<label for="background" class="col-lg-4 control-label left-important">Background</label>
								<div class="col-lg-8 ">
									<textarea 	id="background"
												class="form-control"
												ng-model="fd.background"
												ng-disabled="showStatus">
									</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="RunnerRemarks" class="col-lg-4 control-label left-important">Runner Remarks</label>
								<div class="col-lg-8 ">
									<textarea 	id="runner_remarks"
												class="form-control"
												ng-model="fd.runner_remarks"
												ng-disabled="showStatus">
									</textarea>
								</div>
							</div>
							<div class="form-group">
								<label for="commission" class="col-lg-4 control-label left-important">Commission</label>
								<div class="col-lg-8 input-group">
									<input type="number"
											id="commission"
											min="0"
											max="100"
										   class="form-control"
										   step="0.1"
										   ng-model="fd.commission"
										   ng-disabled="showStatus"
										   string-to-number>
									<span class="input-group-addon">%</span>
								</div>
							</div>
							<div class="form-group">
								<label for="debt" class="col-lg-4 control-label left-important">Debt</label>
								<div class="col-lg-8 ">
									<input type="text"
											id="debt"
										   class="form-control currency"
										   currency-input
										   ng-model="fd.amount_due"
										   ng-disabled="true">
								</div>
							</div>
							<div class="form-group">
								<label for="Credit_term" class="col-lg-4">Credit Amount (RM)</label>
								<div class="col-lg-8 ">
									<input type="text"
										currency-input
										id="credit_term"
										name="credit_term"
									   class="form-control currency"
									   ng-model="fd.credit_term"
									   ng-disabled="showStatus">
									</div>
							</div>
							<div class="form-group">
								<label for="grc_number" class="col-lg-4 control-label left-important">GRC No</label>
								<div class="col-lg-8 ">
									<input type="text"
										id="grc_number"
										name="grc_number"
									   class="form-control"
									   ng-model="fd.grc_number"
									    ng-disabled="showStatus">
								</div>
							</div>
							<div class="form-group">
								<label for="check_in_commission" class="col-lg-4">Check In Commission</label>
								<div class="col-lg-8 input-group">
									<input	type="number"
									min="0"
									max="100"
									id="check_in_commission"
										name="check_in_commission"
										step="0.1"
									   class="form-control currency"
									   ng-model="fd.check_in_commission"
									   currency-input
									   ng-disabled="showStatus"
									   string-to-number>
									<span class="input-group-addon">%</span>
								</div>
							</div>
							<div class="form-group">
								<label for="group_flag" class="col-lg-4">Individual or Group/ Agent</label>
								<div class="col-lg-8 ">
									<select class="form-control" id="group_flag" name="group_flag" ng-model="fd.group_flag" ng-disabled="showStatus">
										<option></option>
										<option value="individual">Individual</option>
										<option value="group">Group</option>
										<option value="agent">Agent</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label for="group_flag" class="col-lg-4">Agent/ GL-Group</label>
								<div class="col-lg-8 ">
									<select class="form-control" ng-disabled="(fd.group_flag =='individual' || fd.group_flag =='agent' || showStatus )" id="agent_flag" name="agent_flag" ng-model="fd.agent_flag" >
										<option></option>
										<option value="agent">Agent</option>
										<option value="group">Good Luck Group</option>
									</select>
								</div>
							</div>
							<div class="form-group" ng-init="getAgent()">
								<label for="agent_id" class="col-lg-4 control-label left-important">Agent</label>
								<div class="col-lg-8">
									<select id="agent_id" ng-disabled="(fd.group_flag =='individual' || fd.group_flag =='group' || showStatus )"  class="form-control" ng-model="fd.agent_id" ng-options="agent.id as agent.name for agent in agentOption" >
									</select>
								</div>
							</div>
						</div>
						<div style="margin-top:50px;" class="col-lg-12" ng-show="showTable">
							<div class="form-group">
								<!-- Custom Tabs -->
			          <div class="nav-tabs-custom">
			            <ul class="nav nav-tabs">
			              <li class="active"><a href ng-click="setTab(1)" data-toggle="tab">Rolling History By Trip</a></li>
			              <li><a href ng-click="setTab(2)" data-toggle="tab">Debt</a></li>
			            </ul>
			            <div class="tab-content">
			              <div class="tab-pane" ng-class="{ active: isSet(1) }" ng-show="isSet(1)">
							<div class="panel-body table-responsive" ng-init="loadDataRolHisByTrip()">
								<table datatable="ng" dt-options="dtOptionsRolByTrip" dt-column-defs="dtColumnDefsRolByTrip" dt-instance="dtInstanceRolByTrip" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>Rolling Amount</th>
											<th>Commission Paid</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listDataRolHisByTrip">
											<td>{{ data.date | date: 'dd MMM yyyy H:m:s' }}</td>
											<td align="right">{{ data.amount | formatCurrency }}</td>
											<td align="right">{{ data.check_in_commision | formatCurrency }}</td>
										</tr>
									</tbody>
								</table>
							</div>
			              </div>
			              <!-- /.tab-pane -->
			              <div class="tab-pane" ng-class="{ active: isSet(2) }" ng-show="isSet(2)">
							<div class="panel-body table-responsive" ng-init="loadDataDebt()">
								<table datatable="ng" dt-options="dtOptionsDebt" dt-column-defs="dtColumnDefsDebt" dt-instance="dtInstanceDebt" class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>Date</th>
											<th>Debt</th>
											<th>Owed</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="data in listDataDebt">
											<td>{{ data.date | date: 'dd MMM yyyy' }}</td>
											<td align="right">{{ data.amount | formatCurrency }}</td>
											<td align="right">{{ data.check_in_commision | formatCurrency }}</td>
										</tr>
									</tbody>
								</table>
							</div>
			              </div>
			            </div>
			            <!-- /.tab-content -->
			          </div>
			          <!-- nav-tabs-custom -->
							</div>
						</div>

						<div class="form-group col-lg-12" align="right">
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-success"
									ng-hide="showStatus">
								Save
							</button>
							<button type="button"
									ng-click="cancel()"
									class="btn btn-danger"
									data-dismiss="modal">
								Cancel
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
