<div ng-controller="journalController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Journal Entry</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<form class="form-horizontal" id="formdata" name="formdata" method="post" ng-init="initData();getEdit();">

						<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!='success'">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="alert=''">
								<span aria-hidden="true">&times;</span>
							</button>
							{{alert}}
						</div>
						
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="je_num">Journal No</label>
									<div class="col-sm-8">
										<input type="text" id="je_num" name="je_num" class="form-control" ng-model="fd.je_num" ng-disabled="showStatus" required>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="date">Date</label>
									<div class="col-sm-8">
										<input type="text" ui-date="dateOptions" id="date" name="date" class="form-control" ng-model="fd.date" ng-disabled="showStatus" required>
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="ref_no">Ref No</label>
									<div class="col-sm-8">
										<input type="text" id="ref_no" name="ref_no" class="form-control" ng-model="fd.ref_no" ng-disabled="showStatus">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label left-important" for="remark">Remark</label>
									<div class="col-sm-8">
										<textarea class="form-control" id="remark" name="remark" ng-model="fd.remark" ng-disabled="showStatus"></textarea>
									</div>
								</div>
							</div>
						</div>
					</form>
					
					<hr>
					<span ng-hide="showStatus">
						<div class="col-sm-4" ng-init="getAccount()">
							<label for="account_id">Account</label>
							<select id="account_id" class="form-control" ng-model="fd.account_id" ng-options="account.id as account.name for account in accountOption">
							</select>
						</div>
						<div class="col-sm-3">
							<label for="debit">Debit</label>
							<input type="text" id="debit" class="form-control currency" ng-model="fd.debit" ng-keyup="($event.keyCode == 13 && addDetail())" currency-input>
						</div>
						<div class="col-sm-3">
							<label for="credit">Credit</label>
							<input type="text" id="credit" class="form-control currency" ng-model="fd.credit" ng-keyup="($event.keyCode == 13 && addDetail())" currency-input>
						</div>
						<div class="col-sm-2">
							<label>&nbsp;</label><br/>
							<button type="button" class="btn btn-primary" ng-click="addDetail()">Add</button>
						</div>
						<br/><br/><br/>
					</span>

					<table class="table table-bordered table-striped">
						<tr>
							<th>Account</th>
							<th>Debit</th>
							<th>Credit</th>
							<th ng-hide="showStatus">Action</th>
						</tr>
						<tr ng-repeat="row in listDetail" ng-include="getTemplate(row)">
						</tr>
					</table>

					<script type="text/ng-template" id="display">
						<td>{{row.account_name}}</td>
						<td align="right">{{row.debit | formatCurrency}}</td>
						<td align="right">{{row.credit | formatCurrency}}</td>
						<td ng-hide="showStatus">
							<button type="button" class="btn btn-xs btn-default" ng-click="editForm(row)">
								<i class="glyphicon glyphicon-edit"></i>
							</button>
							<button class="btn btn-xs btn-danger" type="button" ng-click="deleteModal($index)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>

						</td>
					</script>

					<script type="text/ng-template" id="edit">
						<td>{{row.account_name}}</td>
						<td class="input-group-sm"><input type="text" id="selected_debit" class="form-control input-sm currency" ng-model="selected.debit" ng-keyup="$event.keyCode == 13 && editDetail($index)" currency-input autofocus></td>
						</td>
						<td class="input-group-sm"><input type="text" id="selected_credit" class="form-control input-sm currency" ng-model="selected.credit" ng-keyup="$event.keyCode == 13 && editDetail($index)" currency-input autofocus></td>
						<td ng-hide="showStatus">
							<button type="button" class="btn btn-xs btn-default" ng-click="editDetail($index)">
								<i class="glyphicon glyphicon-floppy-disk"></i>
							</button>
							<button type="button" class="btn btn-xs btn-danger" type="button" ng-click="deleteModal($index)">
								<i class="glyphicon glyphicon-trash"></i>
							</button>
						</td>
					</script>
					
					<div class="form-group col-lg-12" align="right">
						<button ng-hide="showStatus"
								type="button"
								ng-click="save()"
								ng-disabled="(formdata.$invalid || balance!=0)"
								class="btn btn-success">
							Save
						</button>
						<button type="button"
								ng-click="cancel()"
								class="btn btn-danger"
								data-dismiss="modal">
							Cancel
						</button>
					</div>
					
				</div>
			</div>
		</div>
	</div>
	
	<!-- Delete Modal -->
	<div class="modal fade" modal="modalDelete" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" ng-click="modalDelete = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Delete row<strong></strong></h4>
			</div>
			<div class="modal-body">
			<div class="alert alert-danger" role="alert">Are you sure you want to delete this row ?</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="modalDelete = false">Close</button>
			<button type="button" class="btn btn-danger" ng-click="deleteDetail()" data-dismiss="modal">Delete</button>
			</div>
		</div>
		</div>
	</div>
</div>
