<div ng-controller="sellChipController">

	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Chips Out</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">
					<div class="alert alert-success" role="alert" ng-show="success!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="alert!='' && alert!=''">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
	          		<form id="formdata" name="formdata" method="post" ng-submit="save()" ng-init="initData();getEdit();">
						<div class="col-sm-3 input-group-sm">
							<label for="date">Date</label>
							<input type="text" ui-date="dateOptions" id="date" class="form-control" ng-model="fd.date" ng-change="getDataGroup()">
							<input type="hidden" id="title" class="form-control" ng-Readonly="true">
						</div>
						<div class="col-sm-3 input-group-sm" ng-init="getManager()">
							<label for="from_manager">From Manager</label>
							<select type="text" id="from_manager" class="form-control" ng-model="fd.from_user_id" ng-options="get_manager.id as get_manager.name for get_manager in managerOption" ng-disabled="user.roles!='Administrator' && user.roles!='Assistant Manager'" ng-change="getDataGroup()">
							</select>
						</div>
						<div class="col-sm-3">
							<label for="shift">Shift From</label><br/>
							<input type="radio" name="shift" value="Morning" ng-model="fd.shift_from" ng-change="getDataGroup()"> Morning
							<input type="radio" name="shift" value="Night" ng-model="fd.shift_from" ng-change="getDataGroup()"> Night
						</div>
						<div class="col-sm-3 input-group-sm">
							<label for="balance">Balance</label>
							<input type="text" id="balance" class="form-control" ng-model="fd.balance" currency-input disabled>
						</div>
						<br/><br/>
					</form>

					<hr>
					<div ng-show="showDetail()" class="col-sm-12">
						<!-- <div ng-hide="showEdit == 'edit'"> -->
						<div class="row">
							<div class="col-sm-3 input-group-sm" >
								<label for="radio_to">To</label>&emsp;
								<input type="radio" name="radio_to" value="runner" ng-model="fd.radio_to" ng-checked="true" ng-change="radio_to()"> Runner
								<input type="radio" name="radio_to" value="assistant" ng-model="fd.radio_to"  ng-change="radio_to()"> Assistant
								<select id="option_to" class="form-control" ng-model="fd.to_user_id" ng-options="get_runner.id as get_runner.name for get_runner in runnerOption">
								</select>
							</div>
							<div class="col-sm-3 input-group-sm">
								<label for="nn_chips">NN Chips</label>
								<input type="text" id="nn_chips" class="form-control currency" ng-model="fd.nn_chips" ng-keyup="($event.keyCode == 13 && addDetail())" currency-input>
							</div>
							<div class="col-sm-3 input-group-sm">
								<label for="junket_chips">Junket Chips</label>
								<input type="text" id="junket_chips" class="form-control currency" ng-model="fd.junket_chips" ng-keyup="($event.keyCode == 13 && addDetail())" currency-input>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 input-group-sm">
								<label for="remark">Remark</label><br/>
								<input type="text" id="remark" class="form-control" ng-model="fd.remark">
							</div>
							<div class="col-sm-2">
								<label>&nbsp;</label><br/>
								<button type="button" class="btn btn-primary btn-sm" ng-click="addDetail()">Add</button>
							</div>
						</div>
						<!-- </div> -->
						<br/>

						<table class="table table-bordered table-striped">
							<tr>
								<th>To</th>
								<th>NN Chips</th>
								<th>Junket Chips</th>
								<th>Remark</th>
								<th>Action</th>
							</tr>
							<tr ng-repeat="row in listDetail" ng-include="getTemplate(row)">
							</tr>
						</table>

						<script type="text/ng-template" id="display">
							<td>{{row.to_user}}</td>
							<td align="right">{{row.nn_chips | formatCurrency}}</td>
							<td align="right">{{row.junket_chips | formatCurrency}}</td>
							<td>{{row.remark}}</td>
							<td>
								<button type="button" class="btn btn-xs btn-default" ng-click="editForm(row)">
									<i class="glyphicon glyphicon-edit"></i>
								</button>
								<button class="btn btn-xs btn-danger" type="button" ng-click="deleteModal($index)">
									<i class="glyphicon glyphicon-trash"></i>
								</button>

							</td>
						</script>

						<script type="text/ng-template" id="edit">
							<td class="input-group-sm">
								<input type="radio" name="radio_to" value="runner" ng-model="selected.radio_to" ng-checked="true" ng-change="radio_to2()"> Runner
								<input type="radio" name="radio_to" value="assistant" ng-model="selected.radio_to"  ng-change="radio_to2()"> Assistant
								<select id="option_to" class="form-control" ng-model="selected.to_user_id" ng-options="get_runner2.id as get_runner2.name for get_runner2 in runnerOption2">
							</td>
							<td class="input-group-sm"><input type="text" id="selected_nn_chips" class="form-control input-sm currency" ng-model="selected.nn_chips" ng-keyup="$event.keyCode == 13 && editDetail($index)" currency-input autofocus></td>
							<td class="input-group-sm"><input type="text" id="selected_junket_chips" class="form-control input-sm currency" ng-model="selected.junket_chips" ng-keyup="$event.keyCode == 13 && editDetail($index)" currency-input autofocus></td>
							<td class="input-group-sm"><input type="text" id="selected_remark" class="form-control" ng-model="selected.remark"></td>
							<td>
								<button type="button" class="btn btn-xs btn-default" ng-click="editDetail($index)">
									<i class="glyphicon glyphicon-floppy-disk"></i>
								</button>
								<button type="button" class="btn btn-xs btn-danger" type="button" ng-click="deleteModal($index)">
									<i class="glyphicon glyphicon-trash"></i>
								</button>
							</td>
						</script>
					</div>
					<div class="col-sm-12" align="right">
						<div class="form-group">
							<button type="submit" ng-disabled="formdata.$invalid" class="btn btn-success" ng-show="showDetail()" ng-click="save()">Save</button>
							<button type="button" ng-click="cancel()" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Delete Modal -->
	<div class="modal fade" modal="modalDelete" tabindex="-1" role="dialog">
		<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
			<button type="button" class="close" ng-click="modalDelete = false" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Delete row<strong></strong></h4>
			</div>
			<div class="modal-body">
			<div class="alert alert-danger" role="alert">Are you sure you want to delete this row ?</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" ng-click="modalDelete = false">Close</button>
			<button type="button" class="btn btn-danger" ng-click="deleteDetail()" data-dismiss="modal">Delete</button>
			</div>
		</div>
		</div>
	</div>

</div>
