<div ng-controller="changePasswordController">
	<div class="panel panel-default box">
		<div class="panel-heading"><h3>Change Password</h3></div>
		<div class="panel-body">
			<!-- Small boxes (Stat box) -->
			<div class="row">
				<div class="col-md-12">	
					<div class="alert alert-success" role="alert" ng-show="showSuccess()">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{success}}
					</div>
					<div class="alert alert-danger" role="alert" ng-show="showAlert()">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						{{alert}}
					</div>
					<!-- Add Modal -->
					<form id="formdata" name="formdata" ng-submit="changePassword()">

						<input 	type="hidden"
								class="form-control"
								ng-model="fd.id"
								>

						<div class="form-group">
							<label for="username" class="col-lg-4 control-label">Username</label>
							<div class="col-lg-8">
								<input type="text"
										id="username" 
									   class="form-control"
									   ng-model="fd.username"
									   ng-required="true"
									   ng-Readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="name" class="col-lg-4 control-label">Full Name</label>
							<div class="col-lg-8">
								<input type="text"
									   class="form-control"
									   ng-model="user.name"
									   ng-required="true"
									   ng-readonly="true">
							</div>
						</div>

						<div class="form-group">
							<label for="inputEmail" class="col-lg-4 control-label">Email</label>
							<div class="col-lg-8">
								<input type="email"
									   class="form-control"
									   ng-model="user.email"
									   ng-required="true"
									   ng-readonly="true">
							</div>
						</div>

						<div class="form-group" ng-hide="statusEdit">
							<label for="old_password" class="col-lg-4 control-label">Old Password</label>
							<div class="col-lg-8">
								<input type="password"
									   class="form-control"
									   ng-model="fd.old_password"
									   ng-required="true">
							</div>
						</div>

						<div class="form-group" ng-hide="statusEdit">
							<label for="password" class="col-lg-4 control-label">Password</label>
							<div class="col-lg-8">
								<input type="password"
									   class="form-control"
									   ng-model="fd.password"
									   ng-required="true">
							</div>
						</div>

						<div class="form-group" ng-hide="statusEdit">
							<label for="inputEmail" class="col-lg-4 control-label">Password Confirmation</label>
							<div class="col-lg-8">
								<input type="password"
									   class="form-control"
									   ng-model="fd.password_confirmation"
									   ng-required="true">
							</div>
						</div>

						<div class="form-group" ng-init="get_role()">
							<label for="inputEmail" class="col-lg-4 control-label">Roles </label>
							<div class="col-lg-8">
								<input type="text"
									   class="form-control"
									   ng-model="user.roles"
									   ng-required="true"
									   ng-readonly="true">
							</div>
						</div>
					</div>

					<div class="col-sm-12">
					  <div class="col-sm-12">
						<div class="form-group" style="float:right;">
							<button ng-show="user.roles=='Administrator'" type="button"
									class="btn btn-primary" 
									data-toggle="modal"
									data-target="#resetModal">
								Reset To Default Password
							</button>
							<div class="modal fade" id="resetModal" tabindex="-1" role="dialog">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Reset Password <strong>{{ user.username }}</strong> account</h4>
								  </div>
								  <div class="modal-body">
									<div class="alert alert-danger" role="alert">Are you sure you want to reset password this account?</div>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-danger" ng-click="resetPassword()" data-dismiss="modal">Reset Password</button>
								  </div>
								</div>
							  </div>
							</div>
							<button type="submit"
									ng-disabled="formdata.$invalid"
									class="btn btn-primary"
									data-toggle="modal"
									data-target="#changeModal">
								Change Password
							</button>
							<div class="modal fade" id="changeModal" tabindex="-1" role="dialog">
							  <div class="modal-dialog">
								<div class="modal-content">
								  <div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									<h4 class="modal-title" id="myModalLabel">Change Password <strong>{{ user.username }}</strong> account</h4>
								  </div>
								  <div class="modal-body">
									<div class="alert alert-danger" role="alert">Are you sure you want to change password this account?</div>
								  </div>
								  <div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="button" class="btn btn-danger" ng-click="changePassword()" data-dismiss="modal">Change Password</button>
								  </div>
								</div>
							  </div>
							</div>
						</div>
					  </div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>