<div ng-controller="bankRController">
	<div class="panel panel-default">
		<div class="panel-heading"><h3>Bank Statement</h3></div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<label class="col-sm-2 control-label">Start Date</label>
					<div class="col-sm-3">
						<input type="text" ui-date="dateOptions" id="start_date" ng-model="start_date" class="form-control">
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label">End Date</label>
					<div class="col-sm-3">
						<input type="text" ui-date="dateOptions" id="end_date" ng-model="end_date" class="form-control">
					</div>
				</div>
				<div class="row">
					<label class="col-sm-2 control-label">Bank</label>
					<div class="col-sm-3" ng-init="getBank()">
						<select class="form-control" id="bank_id" ng-options="bank.id as bank.name for bank in bankOption" ng-model="bank_id" ng-change="loadData()"></select>
					</div>
					<div class="col-sm-4">
						<button class="btn btn-primary" ng-click="loadData()">Search</button>
						<button class="btn btn-primary" ng-click="printReport()">Print</button>
					</div>
				</div>
			</div><br/>
			<div class="table-responsive">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>No</th>
							<th>Date</th>
							<th>Ref No.</th>
							<th>Pay To/Received From</th>
							<th>Debit</th>
							<th>Credit</th>
							<th>Balance</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="transaction in listData.data">
							<td>{{ $index+1 }}</td>
							<td>{{ transaction.date | date: 'dd-MM-yyyy' }}</td>
							<td>{{ transaction.ref_no }}</td>
							<td>{{ transaction.pic }}</td>
							<td align="right">{{ transaction.debit | formatCurrency }}</td>
							<td align="right">{{ transaction.credit | formatCurrency }}</td>
							<td align="right">{{ transaction.balance | formatCurrency }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>
