<div ng-controller="finalEndController" class="panel panel-default">
	<div class="panel-heading"><h3>Compare Final and End Day Report</h3></div>
	<div class="panel-body">
		<div class="row">
			<form class="form-horizontal" ng-submit="loadData();loadData2();">
				<span class="form-group col-md-4">
					<label for="start_date" class="col-md-5 control-label left-important">Start Date</label>
					<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="start_date" id="start_date" ng-model="start_date"></span>
				</span>
				<span class="form-group col-md-4">
					<label for="end_date" class="col-md-5 control-label left-important">End Date</label>
					<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="end_date" id="end_date" ng-model="end_date"></span>
				</span>
				<button type="submit" class="btn btn-primary">Compare</button>
			</form>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<tbody ng-if="listData.length>0">
							<tr>
								<td><b>End Day Report</b></td>
								<td></td>
								<td align="right"><button ng-show="detailShow" class="btn btn-danger btn-xs" ng-click="closeDetail()"><i class="glyphicon glyphicon-remove"></i></button></td>
							</tr>
							<tr ng-repeat="data in listData">
								<!--td><a ng-if="!detailShow" ng-click="loadDataClick(data.id)">{{ data.name2 }}</a> <span ng-if="detailShow">{{ data.name2 }}</span></td-->
								<td>{{ data.name2 }}</td>
								<td align="right" style="{{data.balance<0?'color:red':''}}">
									{{ data.balance | number }}
								</td>
								<td>{{ data.date | date:'dd-MMM' }}</td>
							</tr>
							<tr>
								<td>Total</td>
								<td align="right" style="{{total<0?'color:red':''}}">{{ total | number }}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="table-responsive">
					<table class="table table-bordered table-striped" ng-if="listData2.balance.length>0">
						<tbody>
							<tr>
								<td colspan="2"><b>Today Cash Report</b></td>
								<td></td>
								<td colspan="2"><b>Today Cash Commission</b></td>
							</tr>
							<tr>
								<td>In</td>
								<td align="right">{{listData2.balance[0].debit|formatCurrency}}</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Out</td>
								<td class="red" align="right">{{listData2.balance[0].credit|formatCurrency}}</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Expense</td>
								<td class="red" align="right">{{listData2.balance[0].expense|formatCurrency}}</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Spending Fee</td>
								<td class="red" align="right">{{listData2.balance[0].spending_fee|formatCurrency}}</td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
							<tr>
								<td>Today Balance</td>
								<td align="right" style="{{listData2.balance[0].today_balance<0?'color:red':''}}">{{(listData2.balance[0].today_balance<0?-listData2.balance[0].today_balance:listData2.balance[0].today_balance)|formatCurrency}}</td>
								<td></td>
								<td>Balance Earn</td>
								<td align="right">{{listData2.balance[0].balance_earn|formatCurrency}}</td>
							</tr>
							<tr>
								<td>Last Day</td>
								<td align="right" style="{{listData2.balance[0].last_day_balance<0?'color:red':''}}">{{(listData2.balance[0].last_day_balance<0?-listData2.balance[0].last_day_balance:listData2.balance[0].last_day_balance)|formatCurrency}}</td>
								<td></td>
								<td>Expense</td>
								<td align="right">{{listData2.balance[0].expense|formatCurrency}}</td>
							</tr>
							<tr>
								<td>Total Balance in</td>
								<td align="right" style="border-top:solid black 1px;{{listData2.balance[0].total_balance_in<0?'color:red':''}}">{{(listData2.balance[0].total_balance_in<0?-listData2.balance[0].total_balance_in:listData2.balance[0].total_balance_in)|formatCurrency}}</td>
								<td></td>
								<td>Total Earn</td>
								<td align="right" style="border-top:solid black 1px;{{listData2.balance[0].total_earn<0?'color:red':''}}">{{(listData2.balance[0].total_earn<0?-listData2.balance[0].total_earn:listData2.balance[0].total_earn)|formatCurrency}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="accountModal" ng-init="getAccount()">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="accountModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Account<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<div class="row">
				<span class="col-sm-4">
					<div ng-repeat="(key,account) in accountOption">
						<span ng-if="key%3==0">
							<input type="checkbox" id="account" name="account" ng-model="accounts[account.id]" ng-value="account.id"> {{account.name}}
						</span>
					</div>
				</span>
				<span class="col-sm-4">
					<div ng-repeat="(key,account) in accountOption">
						<span ng-if="key%3==1">
							<input type="checkbox" id="account" name="account" ng-model="accounts[account.id]" ng-value="account.id"> {{account.name}}
						</span>
					</div>
				</span>
				<span class="col-sm-4">
					<div ng-repeat="(key,account) in accountOption">
						<span ng-if="key%3==2">
							<input type="checkbox" id="account" name="account" ng-model="accounts[account.id]" ng-value="account.id"> {{account.name}}
						</span>
					</div>
				</span>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="!exportStatus" ng-click="loadData2()">Search</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="exportStatus" ng-click="printReport()">Export</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="accountModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>