<div ng-controller="currentChipController" class="panel panel-default">
	<div class="panel-heading"><h3>Current Chip</h3></div>
	<div class="panel-body">
		<div class="row">
			<form class="form-horizontal" ng-init="loadData()" ng-submit="loadData()">
				<div class="row">
					<div class="container">
						<span class="form-group col-md-4">
							<label for="start_date" class="col-md-4 control-label left-important">Start Date</label>
							<span class="col-sm-8">
								<input type="text" class="form-control" ui-date="dateOptions" name="start_date" id="start_date" ng-model="start_date">
							</span>
						</span>
						<span class="form-group col-md-4">
							<label for="startMonth" class="col-md-4 control-label left-important">End Date</label>
							<span class="col-sm-8">
								<input type="text" class="form-control" ui-date="dateOptions" name="end_date" id="end_date" ng-model="end_date">
							</span>
						</span>
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</div>
				<div class="row">
					<div class="container">
						<span class="form-group col-md-4">
							<label for="cash_chips" class="col-md-4 control-label left-important">NN Chips</label>
							<span class="col-sm-8">
								<input type="text" class="form-control currency" name="nn_chips" id="nn_chips" ng-model="listData.summary.nn_chips" disabled currency-input>
							</span>
						</span>
						<span class="form-group col-md-4">
							<label for="cash_chips" class="col-md-4 control-label left-important">Cash Chips</label>
							<span class="col-sm-8">
								<input type="text" class="form-control currency" name="cash_chips" id="cash_chips" ng-model="listData.summary.cash_chips" disabled currency-input>
							</span>
						</span>
						<span class="form-group col-md-4">
							<label for="cash_chips" class="col-md-4 control-label left-important">Cash Real</label>
							<span class="col-sm-8">
								<input type="text" class="form-control currency" name="cash_real" id="cash_real" ng-model="listData.summary.cash_real" disabled currency-input>
							</span>
						</span>
					</div>
				</div>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Remark</th>
						<th>NN Chips</th>
						<th>Cash Chips</th>
						<th>Cash Real</th>
						<th>Balance <br/>NN Chips</th>
						<th>Balance <br/>Cash Chips</th>
						<th>Balance <br/>Cash Real</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in listData.data">
						<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
						<td>{{ data.remark }}</td>
						<td align="right">{{ data.nn_chips | formatCurrency }}</td>
						<td align="right">{{ data.cash_chips | formatCurrency }}</td>
						<td align="right">{{ data.cash_real | formatCurrency }}</td>
						<td align="right">{{ data.balance_nn_chips | formatCurrency }}</td>
						<td align="right">{{ data.balance_cash_chips | formatCurrency }}</td>
						<td align="right">{{ data.balance_cash_real | formatCurrency }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>