<div ng-controller="dailyController">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>Summary Final Report</h3>
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				<div class="row">
					<label class="control-label col-sm-2">Month</label>
					<div class="col-sm-3">
						<select class="form-control" ng-model="month">
							<option value="1">January</option>
							<option value="2">Febuary</option>
							<option value="3">March</option>
							<option value="4">April</option>
							<option value="5">May</option>
							<option value="6">June</option>
							<option value="7">July</option>
							<option value="8">August</option>
							<option value="9">September</option>
							<option value="10">October</option>
							<option value="11">November</option>
							<option value="12">December</option>
						</select>
					</div>
					<label class="control-label col-sm-2">Year</label>
					<div class="col-sm-3">
						<input type="text" class="form-control" ng-model="year">
					</div>
					<div class="col-sm-2">
						<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>