<div ng-controller="endDayController" class="panel panel-default">
	<div class="panel-heading"><h3>End Day Report</h3></div>
	<div class="panel-body">
		<div class="row">
			<form class="form-horizontal" ng-submit="loadData()">
				<span class="form-group col-md-4" ng-if="">
					<label for="start_date" class="col-md-5 control-label left-important">Start Date</label>
					<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="start_date" id="start_date" ng-model="start_date"></span>
				</span>
				<span class="form-group col-md-4">
					<label for="end_date" class="col-md-5 control-label left-important">Date</label>
					<span class="col-md-7"><input type="text" class="form-control" ui-date="dateOptions" name="end_date" id="end_date" ng-model="end_date"></span>
				</span>
				<button type="submit" class="btn btn-primary">Search</button>
						<button type="button" class="btn btn-primary" ng-click="accountModal=true;exportStatus=false;">Search Detail</button>
				<button type="button" class="btn btn-primary" ng-click="accountModal=true;exportStatus=true;">Export</button>
			</form>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<tbody ng-if="listData.length>0">
							<tr>
								<td width="60%"><b>End Day Report</b></td>
								<td width="25%"></td>
								<td width="15%" align="right"><button ng-show="detailShow" class="btn btn-danger btn-xs" ng-click="closeDetail()"><i class="glyphicon glyphicon-remove"></i></button></td>
							</tr>
							<tr ng-repeat-start="data in listData">
								<td style="{{ data.urut==2?'border-bottom:black 1px solid;':'' }}">
									<span ng-if="data.child.length>0">
										<a href="" ng-if="!data.expanded" ng-click="data.expanded = true;">
											<i class="glyphicon glyphicon-plus"></i>
										</a>
										<a href="" ng-if="data.expanded" ng-click="data.expanded = false;">
											<i class="glyphicon glyphicon-minus"></i>
										</a>
									</span>
									<a ng-if="!detailShow" ng-click="loadDataClick(data.id)">{{ data.name2 }}</a> 
									<span ng-if="detailShow">{{ data.name2 }}</span>
								</td>
								<td align="right" style="{{ data.urut==2?'border-bottom:black 1px solid;':'' }} {{data.balance<0?'color:red':''}}">
									{{ data.balance | number }}
								</td>
								<td style="{{ data.urut==2?'border-bottom:black 1px solid;':'' }}">{{ data.date | date:'dd-MMM' }}</td>
							</tr>
							<tr ng-if="data.expanded" ng-repeat-end>
								<td colspan="3">
									<table class="table table-bordered" style="margin-bottom:0px;">
										<tr ng-repeat="data2 in data.child">
											<td width="60%" style="{{ data2.urut==2?'border-bottom:black 1px solid;':'' }}">
												<a ng-if="!detailShow" ng-click="loadDataClick(data2.id)">{{ data2.name2 }}</a> 
												<span ng-if="detailShow">{{ data2.name2 }}</span>
											</td>
											<td width="25%" align="right" style="{{ data2.urut==2?'border-bottom:black 1px solid;':'' }} {{data2.balance<0?'color:red':''}}">
												{{ data2.balance | number }}
											</td>
											<td width="15%" style="{{ data2.urut==2?'border-bottom:black 1px solid;':'' }}">{{ data2.date | date:'dd-MMM' }}</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr ng-if="!detailShow">
								<td>Total</td>
								<td align="right" style="{{total<0?'color:red':''}}">{{ total | number }}</td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="table-responsive">
					<div ng-repeat="head in listDataDetail">
						<table class="table table-bordered table-striped">
							<tbody>
								<tr ng-repeat="data in head.detail">
									<td width="60%">{{ data.name2 }}</td>
									<td width="25%" align="right" style="{{data.balance<0?'color:red':''}}">
										{{ data.balance | number }}
									</td>
									<td width="15%">{{ data.date | date:'dd-MMM' }}</td>
								</tr>
								<tr ng-if="head.detail.length>0 and 0=1">
									<td>Total</td>
									<td align="right" style="{{head.total<0?'color:red':''}}">{{ head.total | number }}</td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<hr/>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" tabindex="-1" role="dialog" modal="accountModal" ng-init="getAccount()">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="accountModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Account<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<div class="row">
				<span class="col-sm-4">
					<div ng-repeat="(key,account) in accountOption">
						<span ng-if="key%3==0">
							<input type="checkbox" id="account" name="account" ng-model="accounts[account.id]" ng-value="account.id"> {{account.name}}
						</span>
					</div>
				</span>
				<span class="col-sm-4">
					<div ng-repeat="(key,account) in accountOption">
						<span ng-if="key%3==1">
							<input type="checkbox" id="account" name="account" ng-model="accounts[account.id]" ng-value="account.id"> {{account.name}}
						</span>
					</div>
				</span>
				<span class="col-sm-4">
					<div ng-repeat="(key,account) in accountOption">
						<span ng-if="key%3==2">
							<input type="checkbox" id="account" name="account" ng-model="accounts[account.id]" ng-value="account.id"> {{account.name}}
						</span>
					</div>
				</span>
			</div>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="!exportStatus" ng-click="loadData2()">Search</button>
			<button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="exportStatus" ng-click="printReport()">Export</button>
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="accountModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>