<div ng-controller="purchaseCommissionController" class="panel panel-default">
	<div class="panel-heading"><h3>Purchase Commission Report</h3></div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12">
				<div class="row">
					<form ng-submit="loadData()">
						<span class="form-group col-md-3" ng-init="getVendor()">
							<label for="start_date" class="left-important">Supplier</label>
							<select id="vendor_id"  class="form-control" ng-model="vendor_id" ng-options="vendor.id as vendor.name for vendor in vendorOption"></select>
						</span>
						<span class="form-group col-md-3">
							<label for="start_date" class="left-important">Start Date</label>
							<input type="text" class="form-control" ui-date="dateOptions" name="start_date" id="start_date" ng-model="start_date">
						</span>
						<span class="form-group col-md-3">
							<label for="end_date" class="left-important">End Date</label>
							<input type="text" class="form-control" ui-date="dateOptions" name="end_date" id="end_date" ng-model="end_date">
						</span>
						<span class="form-group col-md-3">
							<label>&nbsp;</label><br/>
							<button type="submit" class="btn btn-primary">Search</button>
							<button type="button" class="btn btn-primary" ng-click="printReport()">Print</button>
						</span>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-bordered table-striped" ng-init="loadData()">
						<thead>
							<tr>
								<th class="center-important">No</th>
								<th>Customer</th>
								<th>From</th>
								<th>Date</th>
								<th>Purchase Commission</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="data in listData">
								<td align="center">{{ $index+1 }}</td>
								<td>{{ data.customer.first_name }} {{ data.customer.last_name }}</td>
								<td>{{ data.vendor.name }}</td>
								<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
								<td align="right">{{ data.commission | formatCurrency }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>