<div ng-controller="runnerController" class="panel panel-default">
	<div class="panel-heading"><h3>Runner Report</h3></div>
	<div class="panel-body">
		<div class="row">
			<form class="form-horizontal" ng-submit="loadData()">
				<span class="form-group col-md-4">
					<label for="start_date" class="col-md-4 control-label left-important">Start Date</label>
					<span class="col-sm-8">
						<input type="text" class="form-control" ui-date="dateOptions" name="start_date" id="start_date" ng-model="start_date">
					</span>
				</span>
				<span class="form-group col-md-4">
					<label for="startMonth" class="col-md-4 control-label left-important">End Date</label>
					<span class="col-sm-8">
						<input type="text" class="form-control" ui-date="dateOptions" name="end_date" id="end_date" ng-model="end_date">
					</span>
				</span>
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>
		<div class="table-responsive">
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th>Date</th>
						<th>Runner</th>
						<th>Shift</th>
						<th>Chips Out</th>
						<th>Chips Return</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="data in listData.data">
						<td>{{ data.date | date: 'dd-MM-yyyy' }}</td>
						<td>{{ data.name }}</td>
						<td>{{ data.shift }}</td>
						<td align="right">{{ data.chips_out | formatCurrency }}</td>
						<td align="right">{{ data.chips_return | formatCurrency }}</td>
						<td>
							<button type="button" class="btn btn-default btn-xs" ng-click="printReport(data.user_id,data.date,data.shift)">
								<i class="glyphicon glyphicon-print"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" tabindex="-1" role="dialog" modal="reportModal">
	  <div class="modal-dialog modal-lg">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="reportModal=false"><span aria-hidden="true">&times;</span></button>
			<h4 class="modal-title" id="myModalLabel">Report<strong></strong></h4>
		  </div>
		  <div class="modal-body">
			<iframe ng-src="{{ report_link }}" width="100%" height="450"></iframe>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="reportModal=false">Close</button>
		  </div>
		</div>
	  </div>
	</div>
</div>